
<h1>Sign In Page/<%= title %></h1>
<div class="signin">
<label for="email"><b>Email</b></label><br>
<input type="text" id="email" name="email" placeholder="Email" required/><br><br>
<label for="password"><b>Password</b></label><br>
<input type="text" id="password" name="password" placeholder="Password" required/><br><br>

<button> Sign In </button><br><br>
</div>