
       <link rel="stylesheet" href="/css/users.css">
        <h1>codial /<%= title %></h1>
        <p> Name: <%= user.name%></p>
        <p> Email: <%= user.email%></p>

       <!-- <input type="submit" name="signout" value="Sign Out"></input> -->
 

   